<footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h4>About Us</h4>
        <p>UNI-VES-PLAST doo address BA-88260 Čitluk, Bare bb phone (+387 36) 644 855 fax (+387 36) 644 856 e-mail info@univesplast.com www.univesplast.com id number 4227800000008 VAT no. 227800000008 reg. no. Tt-O-798/13 bank account 3381202253362004 (UniCredit Bank) iban BA393381204853363487 (swift UNCRBA 22)</p>
      </div>
      <div class="footer-column">
        <h4>Contact Info</h4>
        <p>
          Address: 123 Main Street, Anytown, USA<br>
          Phone: (123) 456-7890<br>
          Email: info@example.com
        </p>
      </div>
      <div class="footer-column">
        <h4>Social Media</h4>
        <a href="https://facebook.com" target="_blank">Facebook</a><br>
        <a href="https://twitter.com" target="_blank">Twitter</a><br>
        <a href="https://linkedin.com" target="_blank">LinkedIn</a>
      </div>
    </div>
  </footer>
  