<div class="container">
    <h2>Contact Us</h2>
    <div class="contact-info">
        <p>tel: +387 (0)36 644 855</p>
        <p>fax: +387 (0)36 644 856</p>
      <p>Email: info@univesplast.com</p>
      <p>Address: Bare bb, 88260 Čitluk Bosna i Hercegovina</p>
    </div>
    <div class="map-container">
      <iframe
        width="100%"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4889.208123521812!2d17.70529531264799!3d43.2275129004139!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134b6c9a96cf4cff%3A0xf807ba621043d2f1!2sIna!5e0!3m2!1sen!2sus!4v1681079516182!5m2!1sen!2sus"
      ></iframe>
      
    </div>
  </div>
  
