.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

.category-container {
  flex: 1;
  margin-right: 32px;
}

.product-detail-container {
  flex: 2;
  max-width: 60%;
}

.category,
.subcategory,
.product {
  margin-bottom: 16px;
}
.product {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .category-container {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .product-detail-container {
    max-width: 100%;
  }
}
