<div class="container">
  <div class="category-container">
    <div class="category" *ngFor="let category of categories">
      <div class="category-header" (click)="toggleSubcategories(category.id)">
        {{ category.name }}
      </div>
      <ng-container *ngFor="let subcategory of category.subcategories">
        <div class="subcategory" *ngIf="isSubcategoriesVisible(category.id)">
          {{ subcategory.name }}
          <div class="product" *ngFor="let product of subcategory.products" (click)="showProductDetails(product)">
            {{ product.name }} - {{ product.price | currency }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="product-detail-container">
    <app-product-detail *ngIf="selectedProduct" [product]="selectedProduct"></app-product-detail>
  </div>
</div>
